@import url(font.css)

body {
  background: #eee;
  font-family: inherit;
  color: inherit;
}

/* clearfix */
.group:after {
  display: block;
  clear: both;
  content: '';
}

ul {
  list-style: none;
}

.content {
  margin: 50px auto;
  font-family: 'VectorBattle' !important;
  width: 1200px;
}

canvas {
  float: left;
  background: black;
  color: white;
  display: block;
  border-radius: 5px;
  position: relative;
  box-shadow: 50px gray;
}

.instructions {
  border-radius: 5px;
  width: 340px;
  background: black;
  float: right;
  padding: 10px;
  color: white;
  box-shadow: 50px gray;
}

.instructions > h1 {
  letter-spacing: 10px;
  font-size: 25px;
  text-align: center;
}

.controls {
  display: block;
  width: 300px;
  padding: 5px;
  padding-left: 20px;
  line-height: 1.5;
}

.controls < li {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.controls strong {
  font-size: 25px;
}

.controls div {
  display: inline;
  text-align: right;
}

#shoot {
  padding-left: 72px;
}

#pulse {
  padding-left: 185px;
}

#rotate {
  padding-left: 20px
}

.bonus {
  padding-top: 20px;
  display: block;
  font-size: 14px;
  border-top: 1px solid white;
  text-align: center;
}
