body {
  background: #eee;
  font-family: inherit;
  color: inherit;
}

/* clearfix */
.group:after {
  display: block;
  clear: both;
  content: '';
}

.content {
  margin: 50px auto;
  width: 1260px;
}

canvas {
  float: left;
  background: black;
  color: white;
  display: block;
  border-radius: 5px;
  position: relative;
  box-shadow: 50px gray;
}

.instructions {
  border-radius: 5px;
  width: 350px;
  text-align: center;
  background: black;
  float: right;
  padding: 10px;
  color: white;
  box-shadow: 50px gray;
}

.controls {
  display: block;
  padding: 5px;
  margin: auto;
}

tr {
  display: block;
  padding-bottom: 5px;
}

th {
  font-weight: 900;
  padding-left: 25px;
  font-size: 16px;
  letter-spacing: 3px;
}

td {
  padding-left: 29px;
}

td:last-child {
  padding-left: 55px;
}
